<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="productManagement" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="productManagement" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="productManagement" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="productManagement" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="productManagement">
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
      <!--<div ng-include="'view1/view1.html'"></div>-->
    <div class="panel panel-primary">
      <div class="panel-heading">Product List</div>

      <div class="panel-body">
        <table class="table" ng-controller="productListCtrl as vm">
          <thead>
          <tr>
            <td><button class="btn btn-primary" ng-click="vm.toggleImage()">{{ vm.showImage ? "Hide" : "Show"}} Image</button></td>
            <td>Product</td>
            <td>Code</td>
            <td>Available</td>
            <td>Price</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="product in vm.products">
            <td>
              <img ng-if="vm.showImage" ng-src="{{product.imageUrl}}" title="{{ product.productName }}"
                   style="width: 50px;margin: 2px">
            </td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productCode}}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency}}</td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>

  </ul>

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <!-- Angular scripts -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>

  <!-- Application Scripts -->
  <script src="app.js"></script>

  <!-- Services -->
  <script src="../common/services/common.services.js"></script>
  <script src="../common/services/productResource.js"></script>
  <script src="../common/services/productResourceMock.js"></script>

  <!-- Product Controllers-->
  <script src="products/productListCtrl.js"></script>

  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
